.about {
    background-color: $color-main;
    padding: 45px 20px 20px 20px;
    margin: 0 auto;

    @media (min-width: 768px) {
        padding: 45px 50px 20px 50px;
    }

    @media (min-width: 1200px) {
        min-width: 1200px;
        max-width: 1920px;
        padding: 50px 0 50px 0;
    }

    &-caption {
        font-family: 'Open Sans';
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7em;
        font-weight: 600;
    }

    &-img {
        width: 100%;

        @media (min-width: 576px) {
            width: 70%;
            margin: 0 auto;
            display: block;
        }

        @media (min-width: 768px) {
            width: 40%;
        }

        @media (min-width: 1200px) {
            width: 200px;
            margin-bottom: 30px;
        }
    }

    &-text {
        font-family: 'Open Sans';
        font-size: 1.2em;
        font-weight: lighter;

        @media (min-width: 1200px) {
            width: 900px;
            margin: 0 auto;
            line-height: 27px;
            margin-bottom: 3px;
        }

        &-link {
            text-decoration: none;
            outline: none;

            &:hover &-item {
                color: fade-out($color-black-opacity, 0.5);
            }
            &:active {
                color: $color-black-opacity;
            }

            &-item {
             color: white;
             text-transform: uppercase;
             font-weight: 400;
            }
        }
    }
}