body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(240, 240, 240);
    background-color: #f8f8f8;
}

section {
    padding-top: 45px;
}

h3 {
    margin-top: 0;
}

a {
    outline: none;
}