@font-face {
    font-family: montserrat-regular;
    src: local(Montserrat),
    url('../fonts/montserrat/montserrat-regular.woff2'),
    url('../fonts/montserrat/montserrat-regular.woff'),
    url('../fonts/montserrat/montserrat-regular.ttf');
}

@font-face {
    font-family: montserrat-light;
    src: local(Montserrat),
    url('../fonts/montserrat/montserrat-light.woff2'),
    url('../fonts/montserrat/montserrat-light.woff'),
    url('../fonts/montserrat/montserrat-light.ttf');
}

@font-face {
    font-family: montserrat-extra-light;
    src: local(Montserrat),
    url('../fonts/montserrat/montserrat-extra-light.woff2'),
    url('../fonts/montserrat/montserrat-extra-light.woff'),
    url('../fonts/montserrat/montserrat-extra-light.ttf');
}

@font-face {
    font-family: raleway-regular;
    src: local(Raleway),
    url('../fonts/raleway/raleway-regular.woff2'),
    url('../fonts/raleway/raleway-regular.woff'),
    url('../fonts/raleway/raleway-regular.ttf');
}

@font-face {
    font-family: raleway-medium;
    src: local(Raleway),
    url('../fonts/raleway/raleway-medium.woff2'),
    url('../fonts/raleway/raleway-medium.woff'),
    url('../fonts/raleway/raleway-medium.ttf');
}

@font-face {
    font-family: raleway-semi-bold;
    src: local(Raleway),
    url('../fonts/raleway/raleway-semi-bold.woff2'),
    url('../fonts/raleway/raleway-semi-bold.woff'),
    url('../fonts/raleway/raleway-semi-bold.ttf');
}

@font-face {
    font-family: raleway-bold;
    src: local(Raleway),
    url('../fonts/raleway/raleway-bold.woff2'),
    url('../fonts/raleway/raleway-bold.woff'),
    url('../fonts/raleway/raleway-bold.ttf');
}

@font-face {
    font-family: raleway-extra-bold;
    src: local(Raleway),
    url('../fonts/raleway/raleway-extra-bold.woff2'),
    url('../fonts/raleway/raleway-extra-bold.woff'),
    url('../fonts/raleway/raleway-extra-bold.ttf');
}

@font-face {
    font-family: roboto-regular;
    src: local(Roboto),
    url('../fonts/roboto/roboto-regular.woff2'),
    url('../fonts/roboto/roboto-regular.woff'),
    url('../fonts/roboto/roboto-regular.ttf');
}

@font-face {
    font-family: fontello;
    src: url('../fontello/font/fontello.woff2'),
         url('../fontello/font/fontello.woff'),
         url('../fontello/font/fontello.ttf');
}
