%main-button {
    display: block;
    width: 170px;
    padding-top: 19px;
    padding-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #998675;
    color: $color-white;
    font-family: raleway-extra-bold, verdana;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    
     &:hover {
                background-color: $color-hover;
            }
            &:active {
                background-color: darken($color-hover,15%);
            }
}
