@mixin border-radius ($radius) {
    -webkit-border-radius: ($radius);
    -moz-border-radius: ($radius);
    -ms-border-radius: ($radius);
    -o-border-radius: ($radius);
    border-radius: ($radius);
}

//@mixin gradient (??) {
//    -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
//    -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
//    -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
//    -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
//    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
//}