$width: 1920px;
$container-width: 1168px;
$width-slider-content: 700px;
$mobile-width: 1000px;
$mobile-container-width: 280px;
$color-white: #fff;
$color-hover: #c7b29a;
$color-black: #555;
$color-gray: #8c8c8c;
$color-background: #fbfaf8;
$color-dark-orange: #615855;
$color-dark-gray: #545454;
$color-blue: #00bff3;
$color-light-gray: #959595;