.video-presentation {
    max-width: $width;
    min-width: $container-width;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url(../video/SnapShots/video-snapshot.jpg);
    background-position: center;
    padding-bottom: 197px;
    
    
    &-video {
        width: 100%;
        height: auto;
        max-height: 705px;
        visibility: hidden;
        position: absolute;
    }
    
    &-desc {
        width: 685px;
        margin-top: 210px;
        z-index: 1;
        
        &-button {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            background: url('../ico/play-video.png');
            border: 0;
            outline: 0;
            display: block;
            cursor: pointer;
            margin-bottom: 44px;
            
            &:hover {
                transform: scale(1.1);
                transition: 0.3s;
            }
        }
        
        &-caption {
            color: $color-white;
            font-family: raleway-medium, verdana;
            font-size: 30px;
            font-weight: 500;
            text-transform: capitalize;
            width: 100%;
            text-align: center;
            display: block;
            margin-bottom: 29px;
        }
        
        &-text {
            color: $color-white;
            font-family: montserrat-light, verdana;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            margin-top: 0;
            margin-bottom: 40px;
        }
        
        &-meta {
            color: $color-hover;
            font-family: montserrat-regular, verdana;
            font-size: 14px;
            font-weight: 400;
            width: 100%;
            text-align: center;
            display: block;
        }
    }
}