.contacts-section {
    max-width: $width;
    min-width: $container-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 81px;
    background-color: #191919;

    &-about-waxom {
        width: 258px;
        margin-right: 41px;

        &-logo {
            display: flex;
            align-items: center;
            text-decoration: none;
            text-transform: capitalize;
            margin-bottom: 29px;
            color: $color-white;
            font-family: raleway-regular, verana;
            font-size: 34px;
            font-weight: 400;
        }

        &-text {
            margin-top: 0;
            margin-bottom: 33px;
            color: $color-dark-gray;
            font-family: montserrat-light, verdana;
            font-size: 14px;
            font-weight: 300;
        }

        &-read-more {
            text-decoration: none;
            text-transform: capitalize;
            color: #d1d1d1;
            font-family: montserrat-regular, verdana;
            font-size: 14px;
            font-weight: 400;
            display: flex;
            align-items: center;

            &:after {
                content: "\e800";
                font-family: fontello;
                color: #d1d1d1;
                font-size: 8px;
                margin-left: 10px;
            }

            &:hover {
                color: $color-hover;
            }
            &:hover:after {
                color: $color-hover;
            }
        }
    }

    &-preview {
        width: 271px;
        margin-top: 28px;
        margin-right: 28px;

        &:last-child {
            margin-right: 0;
        }
    }

    &-recent-posts {

        &-caption {
            display: block;
            margin-bottom: 33px;
            text-transform: capitalize;
            color: $color-white;
            font-family: raleway-bold, verdana;
            font-size: 24px;
            font-weight: 700;
        }

        &-link {
            display: block;
            border-bottom: 1px solid #363636;
            margin-left: 1px;
            text-decoration: none;
            margin-bottom: 21px;

            &:last-child {
                border: 0;
                margin-bottom: 0;
            }

            &-text {
                margin-top: 0;
                margin-bottom: 21px;
                color: $color-dark-gray;
                font-family: montserrat-light, verdana;
                font-size: 14px;
                font-weight: 300;

                &-date {
                    display: block;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                    color: #363636;
                    font-family: montserrat-light, verdana;
                    font-size: 12px;
                    font-weight: 300;
                }
            }

            &:hover &-text {
                color: $color-hover;
            }
            &:hover &-text-date {
                color: $color-white;
            }
        }
    }

    &-twitter {
        width: 272px;

        &-caption {
            display: block;
            margin-bottom: 30px;
            text-transform: capitalize;
            color: $color-white;
            font-family: raleway-bold, verdana;
            font-size: 24px;
            font-weight: 700;
        }
        &-link {
            display: block;
            border-bottom: 1px solid #363636;
            margin-left: 2px;
            text-decoration: none;
            margin-bottom: 21px;

            &:last-child {
                border: 0;
                margin-bottom: 0;
            }

            &:hover &-text {
                color: $color-hover;
            }

            &:hover &-text-time {
                color: $color-white;
            }

            &-text {
                margin-top: 0;
                color: $color-dark-gray;
                font-family: montserrat-light, verdana;
                font-size: 14px;
                font-weight: 300;

                .tag {
                    text-decoration: none;
                    color: $color-blue;
                    &:hover {
                        color: lighten($color-blue, 40%);
                    }
                }

                &-time {
                    display: block;
                    margin-bottom: 21px;
                    margin-top: 11px;
                    text-transform: capitalize;
                    color: #363636;
                    font-family: montserrat-light, verdana;
                    font-size: 12px;
                    font-weight: 300;
                }

                .in-text-link {
                    text-decoration: none;
                    color: #959595;

                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }
    }

    &-widget {

        &-caption {
            display: block;
            margin-bottom: 26px;
            text-transform: capitalize;
            color: $color-white;
            font-family: raleway-bold, verdana;
            font-size: 24px;
            font-weight: 700;
        }

        &-wrapper {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &-img {
                margin-bottom: 10px;
                transition: transform 0.2s;
                &:nth-child(3) {
                    margin: 0;
                }

                &:last-child {
                    margin: 0;
                }

                &:hover {
                    transform: scale(1.05);
                }
            }

        }
    }
}
