.word-press {
    max-width: $width;
    min-width: $container-width;
    margin: 0 auto;
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    padding-top: 49px;
    padding-bottom: 49px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    &-text {
        width: $container-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-caption {
            color: $color-white;
            font-family: raleway-regular, verdana;
            font-size: 28px;
            font-weight: 400;
            text-transform: capitalize;
            display: block;

            &-waxom {
                color: $color-hover;
            }
        }

        &-item {
            color: $color-dark-orange;
            font-family: montserrat-light, verdana;
            font-size: 18px;
            font-weight: 300px;
        }
        
        &-button {
            @extend %main-button;
        }
    }

}
