.copyrights-section-wrapper {
    max-width: $width;
    min-width: $container-width;
    margin: 0 auto;
    background-color: #111;
}
.copyrights-section {
    width: $container-width;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 52px;
    display: flex;
    justify-content: space-between;

    &-copy {

        &-nav {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            &-li {
                border-right: 1px solid #242424;
                color: $color-dark-gray;
                margin-right: 5px;
                padding-right: 5px;
                font-family: montserrat-light, verdana;
                font-size: 13px;
                font-weight: 300;

                &:last-child {
                    border: 0;
                    margin: 0;
                    padding: 0;
                }
                &:first-letter {
                    text-transform: capitalize;
                }

                &:first-child &-link {
                    color: $color-light-gray;
                    &:hover {
                        color: $color-white;
                    }
                }

                &-link {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $color-dark-gray;
                    font-family: montserrat-light, verdana;
                    font-size: 13px;
                    font-weight: 300;

                    &:hover {
                        color: $color-hover;
                    }
                }
            }
        }
    }

    &-authors {

        &-nav {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;

            &-li {
                border-right: 1px solid #242424;
                color: $color-dark-gray;
                margin-right: 5px;
                padding-right: 5px;
                font-family: montserrat-light, verdana;
                font-size: 13px;
                font-weight: 300;

                &:last-child {
                    border: 0;
                    margin: 0;
                    padding: 0;
                }
                &:first-letter {
                    text-transform: capitalize;
                }

                &-link {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: $color-light-gray;
                    font-family: montserrat-light, verdana;
                    font-size: 13px;
                    font-weight: 300;

                    &:hover {
                        color: $color-white;
                    }
                }
            }

        }
    }

}
