.latest-projects {
    max-width: $width;
    min-width: $container-width;
    margin: 0 auto;
    padding-top: 81px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;

    &-caption {
        width: 100%;
        text-align: center;
        color: $color-black;
        font-family: raleway-semi-bold, verdana;
        font-size: 30px;
        font-weight: 600;
        text-transform: capitalize;
    }
    &-text-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &-text {
        width: 757px;
        text-align: center;
        color: $color-gray;
        font-family: montserrat-light, verdana;
        font-size: 16px;
        font-weight: 300;
    }

    &-nav {
        width: 100%;
        display: flex;
        justify-content: center;

        &-content {
            width: 605px;
            display: flex;
            justify-content: space-between;

            &-button {
                @include border-radius(3px);
                border: 1px solid #ebebeb;
                padding-top: 10px;
                padding-left: 24px;
                padding-bottom: 8px;
                padding-right: 23px;
                text-decoration: none;
                text-transform: capitalize;
                color: $color-gray;
                font-family: montserrat-light, verdana;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 40px;

                &:hover {
                    background-color: #998675;
                    color: $color-white;
                }
                &:active {
                    background-color: $color-hover;
                }
            }
        }
    }

    &-previews-wrapper {
        width: $container-width;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    &-previews {
        position: relative;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        position: relative;
        &:hover img[alt="projects-preview"] {
            -webkit-filter: brightness(0.5);
            -ms-filter: brightness(0.5);
            -o-filter: brightness(0.5);
            -moz-filter: brightness(0.5);
            filter: brightness(0.5);
        }
        &:hover &-text {
            background-color: #362f2d;
        }

        &:hover &-text:before {
            border-top: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #362f2d;
            border-left: 10px solid transparent;
        }

        &:hover &-caption {
            color: $color-white;
        }

        &:hover &-desc {
            color: $color-hover;
        }

        &:hover &-link {
            visibility: visible;
        }
        
        &:hover &-lupa {
            visibility: visible;
        }

        img[alt="projects-preview"] {
            cursor: default;
        }

        &-text {
            box-sizing: border-box;
            padding-top: 30px;
            padding-left: 28px;
            padding-bottom: 27px;
            display: flex;
            flex-direction: column;
            background-color: #fbfaf8;
            position: relative;

            &:before {
                content: "";
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #fbfaf8;
                border-left: 10px solid transparent;
                position: absolute;
                top: -20px;
                left: 20px;
                right: 0;
                bottom: 0;
            }
        }

        &-caption {
            color: $color-hover;
            font-family: raleway-medium, verdana;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 14px;
        }

        &-desc {
            color: #d1d1d1;
            font-family: montserrat-light, verdana;
            font-size: 14px;
            font-weight: 300;
            margin-left: 2px;
        }

        &-link {
            display: block;
            width: 26px;
            height: 26px;
            position: absolute;
            fill: $color-white;
            top: 106px;
            left: 144px;
            visibility: hidden;

            &:hover {
                fill: $color-hover;
            }
        }

        &-lupa {
            display: block;
            width: 26px;
            height: 25px;
            position: absolute;
            fill: $color-white;
            top: 106px;
            left: 198px;
            visibility: hidden;

            &:hover {
                fill: $color-hover;
            }
        }

    }

    &-load-more {
        @extend %main-button;
        margin: 0 auto;
        margin-bottom: 80px;
        margin-top: 40px;
    }
}
